* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}


/* HEADER */
header {
  min-height: 40%;

}

header .max-width-wrapper {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0px;
  padding-right: 8px;
}

.intro-chunk {
  padding-top: 48px;
}

h1 {
  padding-left: 16px;
}

header p {
  max-width: 375px;
  padding-left: 16px;
  line-height: 1.5;
}

strong {
  color: hsl(160deg, 100%, 30%);
}

/* MAIN */
main {
  background-color: hsl(0deg, 0%, 60%);
  border-top: 8px solid hsl(0deg, 0%, 40%);
  padding-top: 32px;
  padding-bottom: 64px;
}

main .max-width-wrapper {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0px;
  padding-right: 0px;
}

.card {
  background-color: hsl(0deg, 0%, 100%);
  border-bottom: 8px solid hsl(0deg, 0%, 40%);
  padding-top: 8px;
}

h2 {
  display: block;
  width: fit-content;
  background-color: hsl(45deg, 100%, 50%);
  border-bottom: 8px solid hsl(45deg, 100%, 40%);
  padding: 16px 32px;
  margin-left: -8px;
  margin-top: 0;
}

main p {
  padding-left: 16px;
  padding-right: 16px;
  line-height: 1.5;
}